
:root{
    --fondo-azul: #265db6;
    --fondo-gris: #d4d4d4;
    --fondo-gris-oscuro: #bfbfbf;
    --letra-blanca: #f3f3f3;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f6f6f6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 1fr 30px;
    grid-template-areas: 
    "my-header my-header my-header"
    "my-aside my-main my-main"
    "my-footer my-footer my-footer"
    ;
}

header{
    background-color: var(--fondo-azul);
    color: var(--letra-blanca);
    font-size: 40px;
    text-align: center;
    grid-area: my-header;
    width: 100%;
    height: 100%;
}
nav{
    background-color: var(--fondo-gris-oscuro);
    grid-area: my-aside;
    display: flex;
    flex-direction: column;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 5px;
}

@media screen and (max-width:650px) {
    body{
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 100px 25px 1fr 30px;
        grid-template-areas: 
        "my-header my-header my-header"
        "my-aside my-aside my-aside"
        "my-main my-main my-main"
        "my-footer my-footer my-footer";
    }
    nav{
        display: flex;
        flex-direction: row;
    }
    
}
#header {

}
main{
    background-color: var(--fondo-gris);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem;
    grid-area: my-main;
}
section{
    background-color: var(--fondo-gris);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem;
    grid-area: my-main;
}
.mis_proyectos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.proyecto{
    background-color: var(--fondo-gris-oscuro);
    padding: 1rem;
    border-radius: 5px;
    max-width: 400px;
    margin: 5px;
}
footer{
    background-color: var(--fondo-gris);
    text-align: center;
    margin-top: 10px;
    font-size: 0.75rem;  
    padding: 2px;
    grid-area: my-footer;
}
footer a{
    color: black;
}