
:root{
    --fondo-azul: #265db6;
    --fondo-azul-menu: #7eb0ff;
    --fondo-gris: #d4d4d4;
    --fondo-gris-oscuro: #bfbfbf;
    --letra-blanca: #f3f3f3;
    --fondo-gris-transparente: #d4d4d4ea;
    --borde: #333 1px solid
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f6f6f6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: var(--fondo-azul);
    color: var(--letra-blanca);
    font-size: 40px;
    text-align: center;
    grid-area: my-header;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: var(--fondo-azul-menu);
    grid-area: my-aside;
    border-right: var(--borde);
}
nav a{
    color: black;
    text-decoration: none;
}
nav div{
    color: black;
    text-decoration: none;
    padding: 5px;
}
/* PC */
@media screen and (min-width:1024px) {
    body{
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 100px 1fr 20px;
        grid-template-areas: 
        "my-header my-header my-header"
        "my-aside my-main my-main"
        "my-footer my-footer my-footer";
    }
    
    nav{
        border-bottom: var(--borde);
    }
    nav div {        
        display: flex;
        flex-direction: column;
    }
    
}
/* tablet */
@media screen and (max-width:1023px) {
    body{
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 70px 25px 1fr 20px;
        grid-template-areas: 
        "my-header my-header my-header"
        "my-aside my-aside my-aside"
        "my-main my-main my-main"
        "my-footer my-footer my-footer";
    }
    header{
        font-size: 25px;
        height: 70px;
        justify-content: center;
    }
    nav{
        border-bottom: var(--borde);
    }
    nav div {        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
/* movil */
@media screen and (max-width:650px) {
    body{
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 50px 25px 1fr 20px;
        grid-template-areas: 
        "my-header my-header my-header"
        "my-aside my-aside my-aside"
        "my-main my-main my-main"
        "my-footer my-footer my-footer";
    }
    header{
        font-size: 20px;
        height: 50px;
        justify-content: center;
    }
    nav{
        border-bottom: var(--borde);
        
    }
    nav div {        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 0,8rem;
    }
}
main{
    grid-area: my-main;
    padding: 10px;
}
section{
    background-color: var(--fondo-gris);
    border: var(--borde);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem;
}
#noticia{
    background-image: url(img/fondo-noticia.jpg);
}
.content-noticia{
    background-color: var(--fondo-gris-transparente);
    border-radius: 5px;
    padding: 5px;
}
.mis_proyectos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.proyecto{
    background-color: var(--fondo-gris-oscuro);
    padding: 1rem;
    border-radius: 5px;
    max-width: 450px;
    margin: 5px;
}
footer{
    background-color: var(--fondo-gris-oscuro);
    text-align: center;
    font-size: 0.75rem;  
    padding: 2px;
    grid-area: my-footer;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    color: black;
}