
:root{
    --fondo-azul: #265db6;
    --fondo-azul-menu: #7eb0ff;
    --fondo-gris: #d4d4d4;
    --fondo-gris-oscuro: #bfbfbf;
    --letra-blanca: #f3f3f3;
    --fondo-gris-transparente: #d4d4d4ea;
    --borde: #333 1px solid
}
/*Reseteo de paddings y de margenes*/
*{
    padding: 0;
    margin: 0;
}

/*Configuracion del body*/
body{
    background-color: #f6f6f6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 360px;
}

/*Media queris para la compativilidad de la web con ordenadores tablets y moviles*/

/* PC */
@media screen and (min-width:1024px) {
    body{
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 100px 1fr 20px;
        grid-template-areas: 
        "my-header my-header my-header"
        "my-aside my-main my-main"
        "my-footer my-footer my-footer";
    }
    header{
        font-size: 40px;
        height: 100px;
        justify-content: center;
    }
    
    nav{
        border-bottom: var(--borde);
    }
    nav div {        
        display: flex;
        flex-direction: column;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
}

/* tablet */
@media screen and (max-width:1023px) {
    body{
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 70px 25px 1fr 20px;
        grid-template-areas: 
        "my-header my-header my-header"
        "my-aside my-aside my-aside"
        "my-main my-main my-main"
        "my-footer my-footer my-footer";
    }
    header{
        font-size: 25px;
        height: 70px;
        justify-content: center;
    }
    nav{
        border-bottom: var(--borde);
    }
    nav div {        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
}

/* movil */
@media screen and (max-width:650px) {
    body{
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 50px 25px 1fr 20px;
        grid-template-areas: 
        "my-header my-header my-header"
        "my-aside my-aside my-aside"
        "my-main my-main my-main"
        "my-footer my-footer my-footer";
    }
    header{
        font-size: 20px;
        height: 50px;
        justify-content: center;
    }
    nav{
        border-bottom: var(--borde);
        
    }
    nav div {        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 0,6rem;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
}

/*Configuracion del header*/
header{
    background-color: var(--fondo-azul);
    color: var(--letra-blanca);
    text-align: center;
    grid-area: my-header;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    border-bottom: black 1px solid;
}

/*Configuracion del menu principal*/
nav{
    background-color: var(--fondo-azul-menu);
    grid-area: my-aside;
    border-right: var(--borde);
}
nav a{
    color: black;
    text-decoration: none;
}
nav div{
    color: black;
    text-decoration: none;
    padding: 5px;
}

/*Configuracion del main*/
main{
    grid-area: my-main;
    padding: 10px;
}

/*Configuracion de las secciones*/
section{
    background-color: var(--fondo-gris);
    border: var(--borde);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem;
}

/*Seccion de hero*/
#noticia{
    background-image: url(img/fondo-noticia.jpg);
}
.content-noticia{
    background-color: var(--fondo-gris-transparente);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
.content-noticia div{
    width: 100%;
    text-align: center;
}
.content-noticia img {
    max-height: 250px;
    object-fit: cover;
}

/*Seccion de proyectos*/
.mis_proyectos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mis_proyectos article{
    background-color: var(--fondo-gris-oscuro);
    padding: 1rem;
    border-radius: 5px;
    max-width: 450px;
    margin: 5px;
    
}
.mis_proyectos article p {
    margin: 1em;
}
.mis_proyectos article img {
    align-items: center;
    margin: 1em;
}
.proyecto1 img {
    height: 192px;
}
.proyecto3 img {
    height: 192px;
}
/*Configuracion formulario*/
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.corto{
    width: 25%;
}
#msg-contacto{
    height: 100px;
    width: 40%;
}
.boton-enviar{
    width: 60px;
    margin-top: 5px;
}
/*Configuracion footer*/
footer{
    background-color: var(--fondo-gris-oscuro);
    text-align: center;
    font-size: 0.75rem;  
    padding: 2px;
    grid-area: my-footer;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    color: black;
}